@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Dono @ViewData["Dono"]</p>
<address>
    <strong>More information</strong> <a href="https://www.youtube.com/">You Tube</a>
</address>
